{% extends 'base.html' %}

{% block title %}
Обувь
{% endblock %}

{% block content %}
{% for shoe in shoes_list %}
<article class="product flex_center">
    <figure class="product_content category">
        <img class="product__img" src={{shoe.photo}} alt="Card Product">
        <figcaption class="content">
            <h3 class="product_name">{{shoe.name}}</h3>
            <p class="product_text">{{shoe.description}}</p>
            <h3 class="price">Цена: {{shoe.cost}} рублей</h3>
            <button class="button">
                <p>В корзину</p>
            </button>
        </figcaption>
    </figure>
</article>
{%endfor%}
{% endblock %}